
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    background: linear-gradient(45deg, #b1b1b1,#000000);
    font-family: 'Press Start 2P', cursive;
height:1100px;
   

}
h1{
    font-size: 50px;
    color: blueviolet;
    text-shadow:5px 5px black;
}

.console{
   height:794px;
   width:1444px;
  position: center;
    background-image: url(../images/nintendo.png);
    background-position: center;
    background-size: cover;
    display:flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

#friend img{
  
    width:45px;
    margin-right: 10px;
}
#lives img{
    
    width:40px;
    margin-right: 10px;
}

h2,span{
    color:aliceblue;
    text-shadow:5px 5px black;
}

#h1container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

